{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block head_title %} affroapps restaurants {% endblock head_title %}</title>
	{%include 'snipets/css.html' %}
	   
	 
</head>
<body>
	
	
	<div class="container">
		{%include 'snipets/nav.html' %}
		<h1>affroapps restaurants</h1>

		{% block content %}
		THIS CONTENT EXITS INSIDE THE BASE content blocks
		{% endblock content %}

	</div>
	{%include 'snipets/js.html' %}
</body>
</html>