{% extends 'base.html' %}
{% block head_title %} Welcome || {{ block.super }} {% endblock %}
{% block content %}
{{ block.super }}
<h1>Testing One two</h1>
	<p>This <code>{% verbatim %} {{ html_var }} {% endverbatim %} </code> is coming up</p>
	<p>
		{% if html_var %}
	Random no. is {{ num }}
	{% endif %}
	 </p>
	 <p>
	 	{% for some_item in some_list %}
		 	{% if some_item|divisibleby:"2" %}
		 		Even - 
		 	{% endif %}
	 		{{ some_item }} <br>
	 	{% endfor %}
	 </p>
{% endblock %}

{% block content2 %}
{{ block.super }}
<p>I need bloc2 to show up here</p>
{% endblock %}