<div class="nav">
	<a href="{% url 'home' %}">home</a>
	<a href="{% url 'about' %}">about</a>
	<a href="{% url 'contact' %}">contact</a>
	{% if request.user.is_authenticated %}
		<a href="{% url 'restaurants:list' %}">restaurants</a>
		<a href="{% url 'menus:list' %}">Menu Items</a>

	{% endif %}
	<a href="/admin">admin</a>
</div>