detail-update.html{% extends 'base.html' %}

{% block head_title %} Menu Item | {{ block.super }} {% endblock %}

{% block content %}

	<h1>{{ form.instance.name }}</h1>
	<h1>Restaurant location:{{ form.instance.restaurant.name }}</h1>
		{% if form.instance.contents %}
		Contents
		<ul>
			{% for item in form.instance.get_contents %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if form.instance.excludes %}
		Excludes
		<ul>
			{% for item in form.instance.get_excludes %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}

	</li>

<hr>
<h3>Make Changes</h3>

{% include 'snipets/form-snippet.html'  with form=form %}

{% endblock %}