{% extends 'base.html' %}

{% block head_title %} {{ title }} | {{ block.super }} {% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% if form.errors.none_field_errors %}
{{ form.errors.none_field_errors }}
{% endif %}

<form method = "POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Save</button>
</form>

{% if form.instance %}
	<h1>{{ form.instance.name }}</h1>
{% endif %}

{% endblock %}

<!-- <input type="text" name="name" placeholder="Your Title"><br>
<input type="text" name="location" placeholder="Your location"><br>
<input type="text" name="category" placeholder="Your category"><br> -->