{% extends 'base.html' %}

{% block head_title %} Menu Items | {{ block.super }} {% endblock %}

{% block content %}
<h1>Menu Items List <small><a href="{% url 'menus:create' %}">Add</a></small></h1>

<ul>
	{% for obj in object_list %}
	<li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a><br>
		{% if obj.contents %}
		Contents
		<ul>
			{% for item in obj.get_contents %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if obj.excludes %}
		Excludes
		<ul>
			{% for item in obj.get_excludes %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}
			{% empty %}
			<li> <a href="{% url 'menus:create' %}">Add menu Item</a> </li>
	</li>
	{% endfor %}
</ul>
{% endblock %}