{% extends 'base.html' %}

{% block head_title %} Menu Item | {{ block.super }} {% endblock %}

{% block content %}

	<h1>{{ object.name }}</h1>
	<h1>Restaurant location:{{ object.restaurant.name }}</h1>
		{% if object.contents %}
		Contents
		<ul>
			{% for item in object.get_contents %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if object.excludes %}
		Excludes
		<ul>
			{% for item in object.get_excludes %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}

	</li>


{% endblock %}