{% extends 'base.html' %}

{% block head_title %} Restaurants | {{ block.super }} {% endblock %}

{% block content %}

<h1>{{ form.instance.name }} <small> {{ form.instance.category }}</small></h1>
<p>{{ form.instance.location }}</p>
<p>{{ form.instance.timestamp }} ,{{ form.instance.updated | timesince }}  </p>

<hr>
<h3>Make Changes</h3>

{% include 'snipets/form-snippet.html'  with form=form %}

{% endblock %}