{% extends 'base.html' %}

{% block head_title %} {{ title }} | {{ block.super }} {% endblock %}

{% block content %}

<h1>{{ title }}</h1>

{% include 'snipets/form-snippet.html' %}

{% endblock %}

<!-- <input type="text" name="name" placeholder="Your Title"><br>
<input type="text" name="location" placeholder="Your location"><br>
<input type="text" name="category" placeholder="Your category"><br> -->