{% extends 'base.html' %}

{% block head_title %} Restaurants | {{ block.super }} {% endblock %}

{% block content %}

<h1>{{ object.name }} <small> {{ object.category }}</small></h1>
<p>{{ object.location }}</p>
<p>{{ object.timestamp }} ,{{ object.updated | timesince }}  </p>


{% endblock %}