{% extends 'base.html' %}

{% block head_title %} Restaurants | {{ block.super }} {% endblock %}

{% block content %}
<h1>My Restaurants List <small><a href="{% url 'restaurants:create' %}">Add</a></small></h1>

<ul>
	{% for obj in object_list %}
	<li><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
		{% empty %}
		<li> <a href="{% url 'restaurants:create' %}">Add One</a> </li>
	{% endfor %}


</ul>
{% endblock %}