{% if request.user.is_authenticated %}
<form class="form" method="POST" action="{% url 'follow' %}" >
	{% csrf_token %}
	<input type="hidden" name="username" value="{% if username %}{{ username }} {% else %} secret2 {% endif %}">
	<button class="btn {% is is_following %}btn-primary{% else %}btn-default"> {% is is_following %} Unfollow {% else %} Follow {% endif %} </button>
</form>
{% endif %}

