{% extends 'base.html' %}

{% block head_title %} {{ user.username }} | {{ block.super }} {% endblock %}

{% block content %}

<h1>{{ user.username }}</h1>
{{ request.user.is_following.all }}
{% if user.profile in request.user.is_following.all %}
 Is following
{% endif %}
<p>{% include 'profiles/snippets/follow_form.html' with username=user.username i_following=True %}</p>
<form class="form" method="GET" action='.'>
	<input type="text" placeholder="Search.." name="q" value="{{ request.GET.q }}">
	<button class="btn btn-default" type="submit">Search</button>
</form>
<hr>


{% if locations %}
{% for rest in locations %}
<div class="row">
	<div class='col-sm-12' style="border: 1px solid #ccc; border-radius:5px;margin-bottom:15px;">
		<div class="thumbnail">
		<h4>{{ rest.title }}</h4> 
		<p><a href="{{ request.path }}?q={{ rest.location }}"> {{ rest.location }} </a> - 
		<a href="{{ request.path }}?q={{ rest.category }}"> {{ rest.category }} </a></p>
		<ul>
			{% for item in rest.item_set.all %}
			<li style="margin-bottom: 2px;"><b> {{ item.name }}</b><br>
				{{ item.contents }}
				{% for ing in item.get_contents %}
					<span class="badge badge-default">
					<a href="{{ request.path }}?q={{ ing }}"> {{ ing }} </a>
					</span>
				{% endfor %}


			</li>
			{% endfor %}
			
		</ul>
		</div>
	</div>
</div>
{% endfor %}

{% else %}

<p class="lead">No Items found</p>

{% endif %}

{% endblock %}




